.pricing-card {
  background: #ffffff;
  border-radius: 16px !important;
}

.height-415 {
  height: 415px;
}

.h-100 {
  height: 100% !important;
}

ul {
  list-style: none;
}

.points li::before {
  content: "\2022";
  color: #57c25c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.btn-bg{
    background-color: #f4f5f7;
}
.border-radius-40{
    border-radius: 40px;
}

/* .waves {
  position: absolute;
  bottom: -179px;
} */

.bg-pricing{
    position: absolute;
    bottom: -179px;
    z-index: -999;
}


@media only screen and (max-width: 600px) {
  .m-mb-5{
    margin-bottom: 3rem;
  }
  .choose-plan{
    font-size: 30px;
  }
}